@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

span {
  font-style: italic;
  text-decoration: underline;
}

h2 {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

p {
  margin-top: 22px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 26px;
}

.contentWrapper {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 850px;
}

.textContainer {
  position: absolute;
  left: 120px;
  width: 580px;
}

#imageContainer {
  position: absolute;
  left: 729px;
  width: 1161px;
  height: 666px;
  background-image: url("./narkomfin1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
