@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a:link {
  color: #1a0dab;
}

a:visited {
  color: #660099;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: red;
}

span {
  font-style: italic;
  text-decoration: underline;
}

h2 {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

p {
  margin-top: 22px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 26px;
}

.contentWrapper {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 850px;
}

.textContainer {
  position: absolute;
  left: 120px;
  width: 580px;
}

.textContainer p:last-child > a:last-child {
  text-decoration: underline;
}

#imageContainer {
  position: absolute;
  left: 729px;
  width: 1161px;
  height: 666px;
  background-image: url("./narkomfin1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px) and (orientation: portrait) {
  .contentWrapper {
    flex-direction: column;
    height: 800px;
    margin-top: -50px;
  }

  .contentWrapper h2 {
    font-size: 18px;
    line-height: 23px;
  }

  .contentWrapper p {
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
  }

  .textContainer {
    width: 300px;
    top: 100px;
    left: calc((100vw - 300px) / 2);
  }

  #imageContainer {
    top: 500px;
    left: 1px;
    right: 1px;

    width: calc(100vw - 1px);
    height: 350px;
  }
}
